@{
    Layout=@"..\MyLayout.cshtml";
    ViewData["Title"] = "Conference";
}

<div>
    <iframe src="Conference/RawIndex?ServerCallForName" style="width:100%; height:90vh;" frameborder=no></iframe>
</div>