@{
    Layout = @"..\MyLayout.cshtml";
    ViewData["Title"] = "Register";
}

<!doctype html>
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/menu/style.css">
    <link rel="shortcut icon" href="favicon3.ico" type="image/png" />

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
</head>
<body>

    <div class="mycontainer">
        <div>
            <h1>Enter blockchain system to continue</h1>
            <a href="https://intership.space/Account" class="btn btn-success"><h2>Continue</h2></a>
            <br></br>
            <div id="addLog"></div>
        </div>

    
    </div>
    <script type="module" src="~/react/dist/addLog.js"></script>
</body>
</html>



<style>

    body {
        background-color: transparent;
    }
    h1 {
        color: lightgrey;
    }
    .mycontainer {
        position: absolute;
        top: 50%;
        left: 30%;
        margin: -25px 0 0 -25px;
        text-align: center
    }
</style>

<script>



</script>