@{
    ViewData["Title"] = "Information";
    Layout = @"..\MyLayout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <title>Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/menu/style.css">
    <link rel="shortcut icon" href="favicon3.ico" type="image/png" />

    <style>
        h1, h4
        {
            color:lightgrey;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'helvetica', sans-serif;
            background-color: transparent;
        }


        .content2 {
            background-color:transparent;
            position: relative;
            width: 960px;
            height: 100%;
            margin: 0 auto;
            display: block;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 40px;
            padding-top: 250px;
            /*z-index: 4;*/
        }
    </style>
</head>
<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


    <div class="wrapper d-flex align-items-stretch">



        <div class="content2">
            <h1 color="white">Welcome</h1>
            <blockquote id="mytext">
                <p>
                    This website represents our intership project 'A video conferencing web application based on face recognition' for Lule&aring; University of Technolgy.
                    The main goal of this project is creating WebRTC video conference with face-recognition login and blochain based ledger.
                </p>


                </style>
                <p></p>
                <table id="mytable" border="0" style="width: 50%;  border-style: hidden; height: 19px; margin-right: auto; margin-left:auto;">
                    <tbody>
                        <tr style="height: 19px;">
                            <td style="width: 50%; height: 19px;">
                                <p style="text-align: center;"><strong>Creators</strong></p>
                                <p style="text-align: center;">Alexander Ssorin</p>
                                <p style="text-align: center;">Vitali Dzikavitski</p>
                                <p style="text-align: center;">Alyona Zakharenko</p>

                            </td>
                            <td style="width: 50%; height: 19px;">
                                <p style="text-align: center;"><strong>Mentors</strong></p>
                                <p style="text-align: center;"><span>Raihan Ul Islam</span></p>
                                <p style="text-align: center;"><span>Ahmed Afif Monrat</span></p>
                                <p style="text-align: center;"><span>Morteza Alizadeh</span></p>
                            </td>

                        </tr>
                    </tbody>
                    <style>
                        #mytext {
                            font-size: 19px;
                        }
                    </style>
                </table>
                <p></p>

            </blockquote>
            <br></br>
            <h4>Thank you for visiting our site!</h4>

            <p style="font-size:30px">
                <span>
                    <a href="https://github.com/Sashanator">
                        <i class="fa fa-github"
                           aria-hidden="true"></i>
                    </a>
                </span>
                <span><a href="https://github.com/VitalDikov" target="_blank"><i class="fa fa-github-alt"></i></a></span>
                <span><a href="https://www.ltu.se/" target="_blank"><i class="fa fa-star"></i></a></span>
                <span>
                    <a href="https://en.itmo.ru/" target="_blank">
                        <i class="fa fa-university"></i>
                    </a>
                </span>
            </p>
        </div>
        </div>



</body>
</html>
